body {
    background: #424242;
}

#navigation {
    position: relative;
    top: 20px;
    color: #414141;
    background: #A6A6A6;
    width: 964px;
    height: 40px;
    margin: auto;
    border: 2px solid #414141;
    z-index: 2;
}

#navigation p {
    position: relative;
    left: 10px;
    padding: 0;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

a:visited { text-decoration: none; color:#414141;}
a:hover, a:active { text-decoration: underline; color:white;}


#container {
    width: 960px;
    height: 672px;
    margin: auto;
    margin-top: 26px;
    border: 2px solid #A6A6A6;
}

#host {
    width: 100%;
    height: 638px;
    border-bottom: 2px solid #A6A6A6;
    background: white;
    margin: 0;
}

#host img {
    position: absolute;
    height: 520px;
    width: 960px;
    margin: auto;
    z-index: 0;
}

#title {
    background: #414141;
    position: relative;
    height: 48px;
    top: 470px;
    text-align: center;
    font-style: bold;
    font-size: 30px;
    color: #A6A6A6;
    padding: 0px 0px 0px 0px;
    z-index: 0;
    display: inline-block;
}

#title p {
    position: relative;
    top: 8px;
    margin: 0px 20px 0px 20px;
}

#summary {
    width: 950px;
    height: 81px;
    background: #585858;
    position: relative;
    top: 470px;
    z-index: 0;
    color: #A6A6A6;
    padding-top: 2px;
    padding-left: 10px;
}

#summary p {
    font-size: 17px;
}

#summary p a {
    color: white;
}

#summary p a:hover {
    color: green;
}

#inventory {
    width: 100%;
    height: 72px;
    margin-top: 0px;
    padding: 0px;
    background: #A6A6A6;
    position: relative;
    bottom: 39px;
}

#projects {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.project {
    margin: 10px;
    width: 50px;
    height: 50px;
    float: left;
    border: 2px solid #414141;
}

.select {
    margin: 0px;
    border: 12px solid #585858;
}

.unselect {
    margin: 10px;
    border: 2px solid #414141;
}

.hover {
    margin: 0px;
    border: 12px solid #888888;
}
